 /* content css */
    /* page 3 */

    .index .banner {
        height: 840px;
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png");
        background-position: center;
        background-repeat: no-repeat;
    }

    .index .banner-text {
        width: 50%;
        height: 100%;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #650300;
    }

    .index .banner-title {
        width: 60%;
        text-align: right;
        font-size: 36px;
    }

    .index .banner-subtitle {
        font-size: 64px;
    }

    /* banner IPAD */
    @media (max-width: 768px) {
        .index .banner  {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-sm.png");
        }

        .index .banner-text {
            width: 70%;
        }

        .index .banner-title {
            width: 90%;
            font-size: 20px;
        }

        .index .banner-subtitle {
            width: 90%;
            font-size: 48px;
            text-align: right;
        }
    }

    /* banner IPHONE */
    @media (max-width: 375px) {
        .index .banner  {
            height: 400px;
            background-size: cover;
        }

        .index .banner-text {
            width: 100%;
        }

        .index .banner-title {
            width: 95%;
            font-size: 16px;
        }

        .index .banner-subtitle {
            width: 95%;
            font-size: 32px;
        }
    }

    .index .intro {
        background-color: #aa06010d;
    }

    .index .intro-title,
    .index .product-title,
    .index .suggest-title {
        padding: 60px 0;
        font-size: 48px;
        color: #650300;
        text-align: center;
    }

    /* title IPAD */
    @media (max-width: 768px) {

        .index .intro-title,
        .index .product-title,
        .index .suggest-title {
            padding: 40px 0;
            font-size: 32px;
        }
    }

    /* title IPHOME */
    @media (max-width: 375px) {

        .index .intro-title,
        .index .product-title,
        .index .suggest-title {
            padding: 20px 0;
            font-size: 20px;
        }
    }

    .index .intro-menu,
    .index .product-menu,
    .index .design-menu,
    .index .suggest-menu {
        width: 1120px;
        margin: 0 auto;
        padding-bottom: 80px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    /* menu IPAD */
    @media (max-width: 768px) {

        .index .intro-menu,
        .index .product-menu,
        .index .design-menu,
        .index .suggest-menu {
            width: 90%;
            padding-bottom: 40px;
        }

        .index .intro-menu {
            justify-content: space-around;
        }
    }

    .index .intro-menu li {
        width: 20%;
        text-align: center;
    }

    .index .intro-menu img {
        margin-bottom: 40px;
        height: 100px;
    }

    .index .intro-menu .title {
        font-size: 24px;
        color: #650300;
        padding-bottom: 8px;
    }

    .index .intro-menu .text {
        text-align: left;
        line-height: 24px;
    }

    /* intro IPAD */
    @media (max-width: 768px) {
        .index .intro-menu li {
            width: 40%;
        }

        .index .intro-menu li:nth-child(2),
        .index .intro-menu li:nth-child(3) {
            order: -1;
        }

        .index .intro-menu li:nth-child(4),
        .index .intro-menu li:nth-child(1) {
            margin-top: 40px;
        }

        .index .intro-menu .title {
            font-size: 20px;
        }

        .index .intro-menu img {
            width: 80px;
            height: 75px;
            margin-bottom: 15px;
        }
    }

    /* intro IPHONE */
    @media (max-width: 375px) {
        .index .intro-menu li {
            width: 80%;
        }

        .index .intro-menu li:nth-child(3) {
            margin-top: 40px;
        }

        .index .intro-menu img {
            height: 80px;
        }
    }

    .index .product-menu li {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .index .product-menu li+li {
        margin-top: 30px;
    }

    .index .product-menu li:nth-child(2) .content {
        order: -1;
        padding-left: 8%;
    }

    .index .product-menu .pic {
        width: 55%;
    }

    .index .product-menu li .content {
        width: 45%;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    .index .product-menu .title {
        color: #aa0601;
        font-size: 48px;
        text-transform: uppercase;
        font-style: italic;
    }

    /* product IPAD */
    @media (max-width: 768px) {
        .index .product-menu li:nth-child(2) .content {
            order: 1;
            padding-left: 0;
        }

        .index .product-menu .title {
            font-size: 28px;
        }

        .index .product-menu li+li {
            margin-top: 10px;
        }

        .index .product-menu .content img {
            margin-right: 8px;
        }
    }

    /* product IPHONE */
    @media (max-width: 375px) {
        .index .product-menu li {
            position: relative;
        }

        .index .product-menu .pic {
            width: 100%;
        }

        .index .product-menu li .content {
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            justify-content: center;
        }

        .index .product-menu .content img {
            width: 10%;
            filter: brightness(100);
            /* 太神啦 */
        }

        .index .product-menu .title {
            color: #fff;
            font-size: 28px;
        }
    }

    .index .design {
        height: 750px;
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .index .design-title {
        padding: 60px 0;
        font-size: 48px;
        color: #fff;
        text-align: center;
    }

    .index .design-menu li {
        width: 49%;
        position: relative;
    }

    .index .design-menu .text {
        font-size: 72px;
        font-weight: bold;
        color: #aa0601;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5);
    }

    /* design IPAD */
    @media (max-width: 768px) {
        .index .design {
            height: 440px;
        }

        .index .design-title {
            font-size: 32px;
            padding: 30px 0;
        }

        .index .design-menu .text {
            font-size: 32px;
        }

        .index .design-menu li {
            width: 48%;
        }
    }

    /* design IPHOME */
    @media (max-width: 375px) {
        .index .design {
            height: 720px;
        }

        .index .design-title {
            font-size: 20px;
            padding: 20px 0;
        }

        .index .design-menu li {
            width: 100%;
        }

        .index .design-menu li+li {
            margin-top: 16px;
        }
    }

    .index .suggest-menu li {
        width: 24%;
        border: 1px solid #dee2e6;
    }

    .index .suggest-menu .content {
        padding: 0 16px;
    }

    .index .suggest-menu .name {
        font-size: 14px;
        padding: 14px 0 7px;
    }

    .index .suggest-menu .text {
        line-height: 24px;
    }

    .index .suggest-menu .update {
        color: #707070;
        padding: 10px 0 15px;
    }

    /* suggest IPAD */
    @media (max-width: 768px) {
        .index .suggest-menu li {
            width: 46%;
        }

        .index .suggest-menu li:nth-child(n + 3) {
            margin-top: 30px;
        }
    }

    /* suggest IPHOME */
    @media (max-width: 375px) {
        .index .suggest-menu li {
            width: 100%;
        }

        .index .suggest-menu li:nth-child(n + 2) {
            margin-top: 16px;
        }

        .index .suggest-menu .pic img {
            width: 100%;
        }
    }

    .index .contact {
        background-color: #aa06010d;
    }

    .index .contact-menu {
        width: 40%;
        margin: 0 auto;
        padding-bottom: 80px;
    }

    .index .contact-title {
        padding: 60px 0 24px;
        font-size: 48px;
        text-align: center;
    }

    .index .contact-menu .content {
        font-size: 20px;
        font-weight: bold;
    }

    .index .contact-menu .group {
        display: flex;
        flex-direction: column;
        padding: 20px 0 16px;
    }

    .index .contact-menu input,
    .index .contact-menu textarea {
        padding: 20px;
        background-color: transparent;
        outline: none;
        border: 1px solid #000;
        margin-top: 4px;
    }

    .index .contact-menu input::placeholder,
    .index .contact-menu textarea::placeholder {
        font-size: 16px;
        color: #ccc;
    }

    .index .contact-menu .checkbox {
        margin-right: 4px;
    }

    .index .contact-menu .check-text {
        font-weight: bold;
    }

    .index .contact-menu .submit {
        display: block;
        width: 50%;
        margin: 0 auto;
        color: #fff;
        padding: 16px 0;
        background-color: #aa0601;
        text-align: center;
        margin-top: 42px;
        transition: 0.5s;
    }

    .index .contact-menu .submit:hover {
        background-color: #8f0400;
    }

    /* contact IPAD */
    @media (max-width: 768px) {
        .index .contact-menu {
            width: 70%;
            padding-bottom: 40px;
        }

        .index .contact-menu .content {
            font-size: 16px;
        }

        .index .contact-title {
            padding: 30px 0;
            font-size: 32px;
        }
    }

    /* contact IPHONE */
    @media (max-width: 375px) {
        .index .contact-menu {
            width: 95%;
            padding-bottom: 40px;
        }

        .index .contact-menu input,
        .index .contact-menu textarea {
            padding: 15px;
        }

        .index .contact-menu .submit {
            margin-top: 32px;
        }

        .index .contact-title {
            font-size: 20px;
            padding: 20px 0;
        }
    }