 /* content css */
    /* page 7 */
    .location-second .banner {
        height: 304px;
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/qa.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .location-second .banner-content {
        width: 60%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .location-second .banner-content .title {
        font-size: 64px;
        margin-right: 24px;
    }

    /* banner IPAD */
    @media (max-width: 768px) {
        .location-second .banner {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/blog-4.png");
            background-position: 30% 30%;
            background-size: 150%;
        }

        .location-second .banner-content {
            width: 90%;
        }

        .location-second .banner-content .title {
            font-size: 48px;
            margin-right: 16px;
        }

        .location-second .banner-content img {
            transform: scale(0.8);
        }
    }

    /* banner IPHONE */
    @media (max-width: 375px) {
        .location-second .banner {
            height: 143px;
        }

        .location-second .banner-content {
            width: 95%;
        }

        .location-second .banner-content .title {
            font-size: 28px;
            margin-right: 8px;
        }

        .location-second .banner-content img {
            transform: scale(0.5);
        }
    }

    .location-second .content {
        width: 60%;
        margin: 0 auto;
    }

    .location-second .content .list {
        padding: 30px 0;
        display: flex;
        align-items: center;
    }

    .location-second .content .select {
        font-size: 24px;
        font-weight: bold;
    }

    .location-second .content .region {
        width: 30%;
        padding: 10px 0 10px 20px;
        margin-left: 20px;
        border: 1px solid #ccc;
        font-size: 18px;
        color: #495057;
    }

    /* content IPAD */
    @media (max-width: 768px) {
        .location-second .content {
            width: 90%;
        }

        .location-second .content .list {
            padding: 8px 0 24px;
        }

        .location-second .content .select {
            font-size: 16px;
        }

        .location-second .content .region {
            width: 35%;
            padding: 12px 0 12px 16px;
            font-size: 16px;
        }
    }

    /* content IPHOME */
    @media (max-width: 375px) {
        .location-second .content {
            width: 95%;
        }

        .location-second .content .list {
            padding: 8px 0 20px;
        }

        .location-second .content .select {
            width: 20%;
            font-size: 14px;
        }

        .location-second .content .region {
            width: 80%;
            margin-left: 12px;
            padding: 8px 0 8px 16px;
        }
    }

    .location-second .info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 300px;
    }

    .location-second .info .container {
        width: 40%;
    }

    .location-second .info .container>img {
        height: 224px;
    }

    .location-second .info .map {
        width: 56%;
    }

    .location-second .map iframe {
        width: 100%;
        height: 422px;
    }

    .location-second .info li .pic {
        width: 100%;
    }

    .location-second .info .title {
        font-size: 24px;
        padding: 12px 24px;
        border: 1px solid #ccc;
    }

    .location-second .sub-info {
        padding: 16px 24px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .location-second .sub-info li {
        display: flex;
        align-items: flex-start;
    }

    .location-second .sub-info li+li {
        margin-top: 8px;
    }

    .location-second .sub-info img {
        width: 21px;
        height: 22px;
        margin-top: 4px;
        margin-right: 12px;
    }

    .location-second .sub-info .text {
        font-size: 20px;
    }

    /* info IPAD */
    @media (max-width: 768px) {
        .location-second .info {
            padding-bottom: 100px;
            justify-content: center;
        }

        .location-second .info .container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .location-second .info .container>img {
            height: 164px;
        }

        .location-second .info .container .pic {
            width: 48%;
        }

        .location-second .info .container .wrap-md {
            width: 48%;
        }

        .location-second .info .map {
            width: 100%;
            margin-top: 32px;
        }

        .location-second .map iframe {
            width: 100%;
            height: 465px;
        }

        .location-second .info .title {
            font-size: 16px;
            padding: 8px 16px;
            border: 1px solid #ccc;
        }

        .location-second .sub-info {
            padding: 16px;
        }

        .location-second .sub-info .text {
            font-size: 14px;
        }

        .location-second .sub-info img {
            width: 20px;
            height: 20px;
            margin-top: 0px;
            margin-right: 16px;
        }
    }

    /* info IPHOME */
    @media (max-width: 375px) {
        .location-second .info {
            padding-bottom: 56px;
        }

        .location-second .info .container {
            display: block;
        }

        .location-second .info .container .pic {
            width: 100%;
        }

        .location-second .info .container .wrap-md {
            width: 100%;
        }

        .location-second .info .map {
            margin-top: 16px;
        }

        .location-second .map iframe {
            height: 227px;
        }
    }