.plan-first .pagination {
    width: 25%;
    margin: 0 auto 150px;
    display: flex;
    justify-content: center;
}

.plan-first .pagination li {
    width: 10%;
    text-align: center;
    border: 1px solid #000;
    margin: 0 0 -1px -1px;
}

.plan-first .pagination li:nth-child(3) {
    background-color: #000;
}

.plan-first .pagination li:nth-child(3) a {
    color: #fff;
}

.plan-first .pagination .change {
    width: 20%;
}

.plan-first .pagination .change:last-child {
    background-color: #f2f2f2;
}

.plan-first .pagination li a {
    font-size: 20px;
    display: block;
    padding: 15px 0;
    color: #555555;
}

/* pagination IPAD */
@media (max-width: 768px) {
    .plan-first .pagination {
        width: 60%;
        margin: 0 auto 100px;
    }

    .plan-first .pagination li a {
        padding: 10px 0;
    }
}

/* pagination IPHONE */
@media (max-width: 375px) {
    .plan-first .pagination {
        width: 80%;
        margin: 0 auto 60px;
    }

    .plan-first .pagination li a {
        font-size: 12px;
    }
}

/* content css */
/* page 9 */
.plan-first .breadcrumb {
    background-color: #650300;
    position: relative;
}

.plan-first .breadcrumb-list {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.plan-first .breadcrumb-list li+li {
    margin-left: 48px;
}

.plan-first .breadcrumb-list li a {
    display: block;
    padding: 12px 0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.plan-first .search {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20%;
    display: flex;
    align-items: center;
}

/* breadcrumb IPAD */
@media (max-width: 768px) {
    .plan-first .breadcrumb-list {
        width: 90%;
    }

    .plan-first .breadcrumb-list li+li {
        margin-left: 32px;
    }

    .plan-first .breadcrumb-list li a {
        font-size: 16px;
        padding: 16px 0;
    }

    .plan-first .search {
        right: 5%;
    }
}

/* breadcrumb IPHONE */
@media (max-width: 375px) {
    .plan-first .breadcrumb {
        display: none;
    }
}

.plan-first .content {
    width: 60%;
    margin: 0 auto;
    padding: 80px 0 100px;
}

.plan-first .project-list .project {
    display: flex;
    justify-content: space-between;
}

.plan-first .project-list .project+.project {
    margin-top: 60px;
}

.plan-first .project .pic {
    width: 52%;
}

.plan-first .project .info {
    width: 46%;
    position: relative;
}

.plan-first .info .title {
    font-size: 32px;
    color: #650300;
}

.plan-first .info .plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-first .plan .festival {
    font-size: 20px;
}

.plan-first .plan .date {
    font-size: 16px;
}

.plan-first .info .text {
    margin-top: 24px;
    font-size: 20px;
    line-height: 30px;
    color: #555555;
}

.plan-first .info .cut {
    display: block;
}

.plan-first .info .more {
    color: #650300;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* content IPAD */
@media (max-width: 768px) {
    .plan-first .content {
        width: 90%;
        padding: 40px 0 100px;
    }

    .plan-first .project-list .project+.project {
        margin-top: 32px;
    }

    .plan-first .project .pic,
    .plan-first .project .info {
        width: 48%;
    }

    .plan-first .info .title {
        font-size: 20px;
    }

    .plan-first .plan .festival {
        font-size: 16px;
    }

    .plan-first .plan .date {
        font-size: 14px;
    }

    .plan-first .info .text {
        margin-top: 16px;
        font-size: 14px;
        line-height: 21px;
    }

    .plan-first .info .cut {
        display: inline;
    }

    .plan-first .info .more {
        position: relative;
        font-size: 14px;
        color: #555555;
        text-transform: lowercase;
    }
}

/* content IPHONE */
@media (max-width: 375px) {
    .plan-first .content {
        width: 95%;
        padding: 24px 0 40px;
    }

    .plan-first .project-list .project {
        display: block;
    }

    .plan-first .project-list .project+.project {
        margin-top: 26px;
    }

    .plan-first .info .title {
        font-size: 16px;
        margin-top: 8px;
    }

    .plan-first .plan .festival {
        font-size: 14px;
    }

    .plan-first .project .pic,
    .plan-first .project .info {
        width: 100%;
    }

    .plan-first .info .text,
    .plan-first .info .more {
        display: none;
    }
}